// Fonts
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

*:not(i) {
    font-family: montserrat, sans-serif;
}

a {
    text-decoration: none !important;
}

header {
    padding: 24px 0;
    //box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.hero {
    background-color: #F8F8F8;
    padding: 124px 0;
    text-align: center;
}

.about {
    padding: 124px 0 0;
}

.clients {
    padding: 124px 0 0;
}

.contact {
    padding: 100px 0 15px;

    .links {
        margin-top: 30px;

        .box {
            position: relative;
            flex-direction: row;
            overflow: hidden;
            border-radius: 0;
            border: none;
            background: #F8F8F8;
            text-transform: uppercase;
            color: rgba(15, 15, 15, .75) !important;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-bottom: 25px;
            transition: .2s ease-in-out color;
            -o-transition: .2s ease-in-out color;
            -moz-transition: .2s ease-in-out color;
            -webkit-transition: .2s ease-in-out color;

            i {
                transition: .2s ease-in-out color;
                -o-transition: .2s ease-in-out color;
                -moz-transition: .2s ease-in-out color;
                -webkit-transition: .2s ease-in-out color;
            }

            & > div {
                position: relative;
                z-index: 1;
            }

            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                transition: .2s ease-in-out width;
                -o-transition: .2s ease-in-out width;
                -moz-transition: .2s ease-in-out width;
                -webkit-transition: .2s ease-in-out width;
                z-index: 0;
            }

            &:first-child::after {
                background: #34B7F1;
            }

            &:nth-child(2)::after {
                background: #c1293d
            }

            &:last-child::after {
                background: #25D366
            }

            &:hover::after {
                width: 100%;
            }

            div:first-child {
                padding: 0 3rem;

                @media (max-width: 768px) {
                    padding: 0 2rem !important;
                }

                i {
                    font-size: 3rem;

                    @media (max-width: 768px) {
                        font-size: 26px !important;
                    }
                }
            }

            div:last-child i {
                transition: .2s ease-in-out transform;
                -o-transition: .2s ease-in-out transform;
                -moz-transition: .2s ease-in-out transform;
                -webkit-transition: .2s ease-in-out transform
            }

            &:hover, &:hover i {
                color: #ffffff !important;
            }

        }

    }

}

footer {
    //background: #212529;
    padding: 2rem 0;
    //color: #ffffff;
}

@media(min-width:1400px) {
    .container {
        max-width: 1340px
    }
}

@media(min-width:1500px) {
    .container {
        max-width: 1440px
    }
}

@media(min-width:1600px) {
    .container {
        max-width: 1540px
    }
}
